---
layout: default
---
<div class="post">

    <script src="https://giscus.app/client.js"
            data-repo="voyager003/voyager003.github.io"
            data-repo-id="R_kgDOIofP4g"
            data-category="[ENTER CATEGORY NAME HERE]"
            data-category-id="[ENTER CATEGORY ID HERE]"
            data-mapping="url"
            data-strict="0"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="preferred_color_scheme"
            data-lang="ko"
            crossorigin="anonymous"
            async>
    </script>

    <header class="post-header">
        <h1 class="page-title">
            <a href="{{ page.url }}"> {{ page.title }} </a>
        </h1>
        <p class="created-date">
            {{ page.date | date: "%Y.%m.%d" }}
        </p>
        {% include post-tags.html %}
        <h2>{{ page.summary }}</h2>
    </header>

    {% if page.toc %}
    <div class="toc">
    </div>
    {% endif %}
    <article class="post-content">
        {{ content }}
    </article>
    {% include createLink.html %}
    {% include comment.html %}

    <script async src="/js/toc-highlight.js"></script>
</div>
